@media (min-width: 1300px) {
	[data-aos="scaling"] {
	    transform: scale(1);
	    opacity: 1;
	    transition-property: transform, opacity;
	}
	[data-aos="scaling"].aos-animate {
	    transform: scale(0.2);
	    opacity: 0;
	}
}

