[data-aos="zoom-and-hide"] {
    transform: scale(1);
    opacity: 0;
    transition-property: transform, opacity;
}
[data-aos="zoom-and-hide"].aos-animate {
    transform: scale(0.2);
    opacity: 1;
}


@keyframes FadeIn { 
  0% {
    opacity: 0;
    transform: scale(1);
  }

  100% {
    transform: scale(0.1);
  }
}

.animate-zoom{
  animation: FadeIn 0.5s ease-out;
  animation-fill-mode: both;
  animation-delay: .5s;
}

