
@font-face {
  font-family: 'Gilroy-Medium', sans-serif;
  src: url(fonts/Gilroy-Medium.woff);
}

@font-face {
  font-family: 'Gilroy', sans-serif;
  src: url(fonts/Gilroy-Regular.woff);
}

body{
	background-color: #DDDDDD;
	font-family: 'Gilroy-Medium', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	opacity: 0.7;
}

h1 {
	font-family: 'Gilroy', sans-serif;
	font-size: 90px;
	color: #FFFFFF;
	margin: 0;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 25px 5%;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	background-color: #DDDDDD;
	z-index: 300;
	top: 0;
}

.header__logo:hover{
	opacity: 0.7;
}

.header__nav {
	display: flex;
	margin: 14px 0 0 0;
}

.header__nav__menubtn__line {
	width: 25px;
	height: 2px;
	left: 1304px;
	top: 52px;
	background: #000000;
}

.header__nav__menubtn__line__second {
	margin-top: 10px;
}

.header__nav__menubtn {
	margin: 4px 0 0 15px;
	opacity: 0.5;
	cursor: pointer;
}

.header__nav__menubtn:hover{
	opacity: 1;
}

.header__nav__navline {
	font-family: 'Gilroy-Medium', sans-serif;
	font-size: 18px;
	line-height: 21px;
}

.navline__active {
	opacity: 1;
}

.navline__inactive, .header__nav__navline__slash {
	opacity: 0.5;
}

.mainblock1 {
	margin-top: 50px;		
}

.mainblock__textshade {
	background-color: rgba(0, 153, 136, 0.5);
	width: 332px;
	height: 186px;
	position: absolute;
	z-index: 20;
	top: 87px;
	left: 38%;
}

.mainblock1__wrap {
	position: relative;
	padding: 120px 10%;
	margin-top: 120px;	
}

.mainblock1__wrap h1 {
	position: relative;
	z-index: 100;
	text-align: center;
}

.mainblock1__img1 {
	position: absolute;
	top: 0px;
	left: calc(60% - 196px);
}

.mainblock1__img.mainblock1__img1 img {
	width: 380px;
}

.mainblock1__img.mainblock1__img2 {
	position: relative;
	z-index: 40;
	top: -48px;
	left: 11%;
}

.mainblock1__img2 img {
	width: 300px;
}

.mainblock2__wrap {
	display: flex;
	margin-top: 50px;	
}

.mainblock2__imgblock__decoblock {
	width: 304px;
	height: 291px;
	background: #E88730;
	position: relative;
	z-index: 10;
	left: 62px;
}

.mainblock2__imgblock img {
	width: 392px;
	height: 413px;
	position: relative;
	z-index: 20;
	left: -36px;
	top: 24px;
}

.mainblock2__imgblock {
	width: 50%;
	display: flex;
	position: relative;
}

.mainblock2__text {
	width: 50%;
	font-family: 'Gilroy-Medium', sans-serif;
	font-size: 24px;
	line-height: 41px;	
	color: #4E4E4E;
}

/* .scrollingblock1 {
  width: 100%;	
	background-color: #DDDDDD;
	background-color: red;
	height: 30px;
} */

@media (min-width: 1440px){
	.mainblock1__img.mainblock1__img1 img {
		width: 647px;
		height: 433px;
	}

	.mainblock__textshade {
		width: 564px;
		height: 284px;
		top: 148px;
		left: 38.5%;
	}
	h1 {
		font-size: 144px;
	}

	.mainblock1__img1 {
		left: 44%;
	}

	.mainblock1__wrap h1 {
		position: relative;
		z-index: 30;
		text-align: center;
		margin-top: 59px;
		line-height: 176px;
	}

	.mainblock1__img2 img {
		width: 394px;
		height: 213px;
		margin-top: 53px;
		position: relative;
		left: 115px;
	}

	.mainblock2__text {
		padding: 24px 46px;
	}

}